.principal{
  font-family: 'Titillium Web', sans-serif;
}
.menu{
  background-color:  #FA8072;

  /*display: inline;*/
}
.opciones{
  display: inline-block;
  padding: 30px 30px 30px 30px;
  text-decoration: underline;
  font-size: 20px;

}
.primera{
  padding-left: 50px;
}
img{
  display: inline-block;
  margin: 30px 30px 30px 30px;
  height: 150px;
  width: 150px;
  border: solid 3px black;
}
#contenidoUno{
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 30px 30px 30px 30px;
  font-family: 'Titillium Web', sans-serif;
  text-align: justify;
}
