.principal{
  font-family: 'Titillium Web', sans-serif;
  background-color: #F5CBA7;
}
.menu{
  background-color:  #FA8072;
}
.opciones{
  display: inline-block;
  padding: 30px 30px 30px 30px;
  text-decoration: underline;
  font-size: 20px;
}
.primera{
  padding-left: 50px;
}
img{
  display: inline-block;
  margin: 30px 30px 30px 30px;
  height: 150px;
  width: 150px;
  border: solid 3px black;
  margin-left:  100px;
}
#contenidoUno{
  height: 400px;
  width: 400px;
  display: inline-block;
  margin-left:  100px;
  font-family: 'Titillium Web', sans-serif;
  text-align: justify;

}
#contenidoDos{
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 30px 30px 30px 30px;
  font-family: 'Titillium Web', sans-serif;
  text-align: justify;
  margin-left auto y margin-right:auto
}
.opcionesDos{
  display: inline-block;
  background-color: #FA8072;
  margin: 40px 20px 20px 40px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 30px 30px 30px 30px;
  margin-left:  100px;
}
.close {
    position: absolute;
    color: #f1f1f1;
    font-size: 40px;
    }
